.header-bg {
    /* The image used */
    background-image: url("./images/earth-dark.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
}

.header-darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-title {
    min-height: 300px;
}

.header-subtitle {
    min-height: 50px;
}
